<div mat-dialog-content>
  <div class="cookies">
    <h2 class="cookies-title">Diese Webseite verwendet Cookies</h2>
    <p class="cookies-content">Wir verwenden Cookies, um Inhalte und Anzeigen zu personalisieren, Funktionen für soziale Medien anbieten zu können und die Zugriffe auf unsere Website zu analysieren. Außerdem geben wir Informationen zu Ihrer Verwendung unserer Website an unsere Partner für soziale Medien, Werbung und Analysen weiter. Unsere Partner führen diese Informationen möglicherweise mit weiteren Daten zusammen, die Sie ihnen bereitgestellt haben oder die sie im Rahmen Ihrer Nutzung der Dienste gesammelt haben.</p>
    <div class="cookies-footer">
      <button class="cc-btn__primary" (click)="allowCookie()">Zulassen</button>
      <button class="cc-btn__ghost"  (click)="preferences()">Präferenzen</button>
    </div>
  </div>
</div>
