<mat-card class="content">
  <div class="wrapper">
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10">
        <mat-radio-group class="payment-options-list">
          <mat-radio-button class="payment-option" value="1">
            <img class="payment-thumbnail" alt="Handy Payment" src="../../../assets/payment/payment-handy.png" />
          </mat-radio-button>
          <mat-radio-button class="payment-option" value="2">
            <img class="payment-thumbnail apple-pay" alt="Apple Pay" src="../../../assets/payment/payment-apple-pay.svg" />
          </mat-radio-button>
          <mat-radio-button class="payment-option" value="3">
            <img class="payment-thumbnail google-pay" alt="Google Pay" src="../../../assets/payment/payment-google-pay.svg" />
          </mat-radio-button>
          <mat-radio-button class="payment-option" value="4">
            <img class="payment-thumbnail" alt="Visa" src="../../../assets/payment/payment-visa.svg" />
          </mat-radio-button>
          <mat-radio-button class="payment-option" value="5">
            <img class="payment-thumbnail" alt="Mastercard" src="../../../assets/payment/payment-mastercard.svg" />
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>
</mat-card>
