<mat-card class="content">
  <div class="outer-wrapper">
  <div class="wrapper">
    <div class="row">
      <!-- PRODUCT SELECT -->
      <div class="col-xs-offset-2 col-xs-8">
        <h2 class="product-total-title">Bitte wähle dein Produkt am Automaten aus</h2>
        <h2 class="phone-title">Mit Auswahl des Produktes erfolgt der Kauf und die Abrechnung über das vorausgewählte Zahlungsmittel. Der Preis wird durch die Produktauswahl am Automaten bestimmt. </h2>
      </div>
      <div class="col-xs-offset-2 col-xs-8">
        <img class="checked" src="../../../assets/icons/coke-bottles-icon.svg" />
      </div>
      <div class="col-xs-offset-2 col-xs-8">
        <div class="content-block">
          <p class="content-text">
            Mit Klick auf den Kauf-Button erklärst du dich einverstanden zum verbindlichen Kauf dieses Artikels. Mehr Information findest du in den <a href="#">AGBs</a>
          </p>
        </div>
      </div>
    </div>
    </div>
  </div>
</mat-card>
