
<mat-toolbar class="header">
    <img class="header-logo" src="../assets/icons/logo.svg" />
    <div class="header-cart">
      <img class="cart" src="../assets/icons/shopping-cart.svg" />
    </div>
</mat-toolbar>
<mat-toolbar class="subheader">
    <img class="subheader-back" src="../assets/icons/return-arrow.svg" />
    <h2 class="subheader-title">Rufnummer eingeben</h2>
    <img class="subheader-close" src="../assets/icons/close.svg" />
</mat-toolbar>
<mat-card class="content">
  <div class="wrapper">
    <div class="row">
      <div class="col-xs-4">
        <img class="product-thumbnail" src="../assets/products/test-image.png" />
      </div>
      <div class="col-xs-4">
        <img class="product-thumbnail" src="../assets/products/test-image.png" />
      </div>
      <div class="col-xs-4">
        <img class="product-thumbnail" src="../assets/products/test-image.png" />
      </div>
      <div class="col-xs-4">
        <img class="product-thumbnail" src="../assets/products/test-image.png" />
      </div>
      <div class="col-xs-4">
        <img class="product-thumbnail" src="../assets/products/test-image.png" />
      </div>
      <div class="col-xs-4">
        <img class="product-thumbnail" src="../assets/products/test-image.png" />
      </div>
      <div class="col-xs-4">
        <img class="product-thumbnail" src="../assets/products/test-image.png" />
      </div>
      <div class="col-xs-4">
        <img class="product-thumbnail" src="../assets/products/test-image.png" />
      </div>
    </div>
  </div>
</mat-card>
<mat-toolbar class="footer">
    <ul>
      <li><a href="#">AGB</a></li>
      <li><a href="#">Impressum</a></li>
      <li><a href="#">Datenschutzerklärung</a></li>
      <li><a href="#">Cookie Richtlinien</a></li>
    </ul>
</mat-toolbar>
<router-outlet></router-outlet>
